@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    
    <button class="btn btn-info"
            id="btnPaginaExemplo">
        Chamar página exemplo
    </button>
</div>
